@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

$white: #c9a990;
/*$black: #654233;*/
$black: rgba(0,0,0,1);
$margin: 20px;

@mixin headingtextshadow {
  text-shadow: -1px -1px 5px #333333;
  filter: dropshadow(color=#333333, offx=-1, offy=-1);
}

@mixin textshadow {
  text-shadow: -1px -1px 1px #333333;
  filter: dropshadow(color=#333333, offx=-1, offy=-1);
}

@mixin circle {
  display:block;
  height:35px;
  width:37px;
  -moz-border-radius: 25px;
  border-radius: 25px;

  
}

@mixin boxshadow {
  -webkit-box-shadow: inset 3px 3px 13px darken($black, 30%), 0px 3px 3px $white;
  -moz-box-shadow: inset 3px 3px 13px darken($black, 30%), 0px 3px 3px $white;
  box-shadow: inset 3px 3px 13px darken($black, 30%), 0px 3px 3px $white;
  
}



body {
   background: #717171 url("/images/darkbrown-background.png") repeat;
}

#container {
  width:33em;
  margin:200px auto 0px auto;
}



header {
  text-align:center;
  margin-bottom:$margin;
  hgroup {
    p {
      position:relative;
      top:73px;
      padding:{
        top:14px;
        left:12px;
      };
/*      background:darken(#c9a990,30%);*/
      text-align:left;
      color:$white;
      font:{
        size:1.6em;
        weight:bold;
      };
      @include circle;
      @include textshadow;
      @include boxshadow;
    }
    h1 {
    margin-left:25px;

    font:{
      size:6em; 
    }
    padding:{
      bottom:10px;
    }
    color: rgba(255,255,255,1);
    @include headingtextshadow;
      span {
        text-align:left;
        font-size:0.6em;
      } 
    }
    
    h2 {
      color:$white;
      font:{
        size:1.4em;
      };
    }
  }
}

#alfiespace {
  position:absolute;
  top:70px;
  margin-left:30px;
  p {
    text-align:right;
    color:#c9a990;
    font:{
      size:0.8em;
    };
  }
}

#main {

  p {
    color:$white;
    @include textshadow;
    font:{
      size:1.1em;
      weight:500;
    };
    line-height:1.6em;
    text-align:center;
  }
  
  ul {
    list-style:none;
    margin-top:$margin;
    margin-left:140px;
    
    li{
      float:left;
      position:relative;
      border-right:1px solid $white;
      margin-right:$margin;
      padding-right:$margin;
      
      &:last-child {
        border-right:none;
      }
      a {
        color:$white;
      }
    }
    
    
  }
}

footer {
  
}
