@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

$white: #ffffff;
$black: #333333;

@mixin headingtextshadow {
  text-shadow: -1px -1px 5px #333333;
  filter: dropshadow(color=#333333, offx=-1, offy=-1);
}

@mixin textshadow {
  text-shadow: -1px -1px 1px #333333;
  filter: dropshadow(color=#333333, offx=-1, offy=-1);
}

@mixin circle {
  display:block;
  height:35px;
  width:37px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border:1px solid lighten($black,70%);
  
}



body {
   background: #717171 url("/images/grey-background.png") repeat;
}

#container {
  width:33em;
  margin:100px auto 0px auto;
}

header {
  text-align:center;
  margin-bottom:10px;
  hgroup {
    p {
      position:relative;
      top:73px;
      padding:{
        top:14px;
        left:12px;
      };
      background:grey;
      text-align:left;
      color:$white;
      font:{
        size:1.6em;
        weight:bold;
      };
      @include circle;
      @include textshadow;
    }
    h1 {
    margin-left:25px;
    font:{
      size:6em; 
    }
    padding:{
      bottom:10px;
    }
    color: rgba(255,255,255,1);
    @include headingtextshadow;
      span {
        text-align:left;
        font-size:0.6em;
      } 
    }
    
    h2 {
      color:$white;
    }
  }
}

#main {
  p {
    color:$white;
    @include textshadow;
    font:{
      size:1.2em;
      weight:500;
    };
    line-height:1.6em;
    text-align:center;
  }
}

footer {
  
}
