
<section id="container">

  <header>
    <hgroup>
      <p><span>Hi,</span></p>
      <h1>I'm Paul.</h1>
      <h2>I live and work in Melbourne, Australia.</h2>
    </hgroup>
  </header>

  <section id="alfiespace"> 
    <img src="/images/alfie-outline.png" />
    <p>This is Alfie.</p>
  </section>

  <section id="main">
    <p>I haven't really figured out what I'm going to do with this page just yet (apart from using it to experiment with some new things), so in the meantime here are some links to my various online profiles.</p>
  
    <ul>
      <% Sociallink.all.each do |sociallink| %>
      
      <li><a href="<%= sociallink.url %>"><%= sociallink.name %></a></li>
      
      <% end %>
      
    </ul>
  </section>

</section>
